{% extends "admin/gestion/layout_gestion.html" %}

{% block lista %}
<div class="card">
    <div class="card-info">
        <h3>Aula 101</h3>
        <p>Capacidad: 35</p>
        <p>Edificio: A</p>
        <p>Piso: 1</p>
    </div>
    <div class="card-actions">
        <button class="btn-editar"><i class="fa-solid fa-pen"></i> Editar</button>
        <button class="btn-eliminar"><i class="fa-solid fa-trash"></i> Eliminar</button>
    </div>
</div>

<div class="card">
    <div class="card-info">
        <h3>Aula 102</h3>
        <p>Capacidad: 30</p>
        <p>Edificio: A</p>
        <p>Piso: 1</p>
    </div>
    <div class="card-actions">
        <button class="btn-editar"><i class="fa-solid fa-pen"></i> Editar</button>
        <button class="btn-eliminar"><i class="fa-solid fa-trash"></i> Eliminar</button>
    </div>
</div>
{% endblock %}