{% extends "admin/gestion/layout_gestion.html" %}

{% block lista %}
<div class="card">
    <div class="card-info">
        <h3>10-A</h3>
        <p>Estudiantes: 30</p>
    </div>
    <div class="card-actions">
        <button class="btn-editar"><i class="fa-solid fa-pen"></i> Editar</button>
        <button class="btn-eliminar"><i class="fa-solid fa-trash"></i> Eliminar</button>
    </div>
</div>

<div class="card">
    <div class="card-info">
        <h3>11-B</h3>
        <p>Estudiantes: 28</p>
    </div>
    <div class="card-actions">
        <button class="btn-editar"><i class="fa-solid fa-pen"></i> Editar</button>
        <button class="btn-eliminar"><i class="fa-solid fa-trash"></i> Eliminar</button>
    </div>
</div>
{% endblock %}